@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{scroll-behavior: smooth}

*{
     box-sizing: border-box;
     font-family: 'Quicksand', sans-serif;
     margin: 0;
     padding: 0;
}

.principalContainer{
     background-color: #242222 !important;
     min-height: 100vh;
     width: 100vw;
}

.navbar{background-color: #000000 !important}

.myPhoto{
     height: 13rem;
     width: 13rem;
}

.myPhoto img{
     border-radius: 50%;
     border: 10px solid lightgrey;
     height: 13rem;
     width: 13rem;
}

.coverSite{
     background-color: #242222 !important;
     border-bottom: 5px solid rgb(28, 27, 27);
     max-width: 100vw;
     min-height: 85vh;
}

.coverText{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.coverText h1{font-size: 4.5rem}

.coverText h3{font-size: 1.5rem}

.coverImage{
     align-items: center;
     display: flex;
     max-width: 900px !important;
}

.coverImage img{width: 90%}

#contactMe, #contactMe a{
     background-color: #ff4500;
     border: none;
     text-decoration: none !important;
}

#contactMe:hover,
#contactMe a:hover{
     background-color: #ffa500;
}

.whoIAm{
     background-color: #242222 !important;
     border-bottom: 5px solid rgb(28, 27, 27);
     min-height: 80vh;
     width: 100vw;
}

.whoIAm p{
     font-size: 0.9rem;
     letter-spacing: 1px;
     line-height: 30px;
     animation: texto 2s linear;
}

.sectionTitle{max-width: 100vw}

.abilities{
     background-color: #242222 !important;
     border-bottom: 5px solid rgb(28, 27, 27);
     height: fit-content;
     width: 100vw;
     min-height: 100vh;
}

.containerAbility{
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     height: fit-content;
     justify-content: center;
     max-width: 100%;
}

.ability{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 40vh;
     max-width: 18%;
}

.ability img{
     max-width: 120px !important;
     width: 100%;
}

.ability:hover{
     transform: scale(1.25) !important;
     transition: linear 0.5s !important; 
}

.ability p:hover{color: aqua !important}

.experiences{
     background-color: #242222 !important;
     border-bottom: 5px solid rgb(28, 27, 27);
     min-height: 80vh;
     width: 100vw;
}

.projects{
     width: 100vw;
     height: 100vh;
     border-bottom: 5px solid rgb(28, 27, 27);
}

.carousel{height: 100vh}

.carousel-item{
     min-height: 35rem !important;
}

#img1{background-image: url('/img/calcfin.png')}

#img2{background-image: url('/img/nutriweb2.png')}

#img3{background-image: url('/img/consultaCEP.png')}

#img4{background-image: url('/img/geradorSenha.png')}

#img1, #img1 img
#img2, #img2 img
#img3, #img3 img
#img4, #img4 img{
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
}


.experience{
     background-color: #242222 !important;
     max-width: 40vw;
     min-height: 70vh;
}

.experience img{
     width: 200px;
}

.experience p{
     line-height: 30px;
}

.experience:hover{
     border-radius: 10px !important;
     transform: scale(1.05) !important;
}

.formulario{
     background-color: #333232 !important;
     border-bottom: 5px solid rgb(28, 27, 27);
     border-radius: 10px;
     min-height: 80vh;
     width: 70vw !important;
}

.rodape{
     background-color: #242222 !important;
     width: 100vw;
     min-height: 6rem;
}

.rodape i{
     cursor: pointer;
}

.rodape i:hover{
     color: #296989 !important;
     transform: scale(1.3);
}

.rodape h6{
     font-size: .8rem;
     letter-spacing: 2px;
}

.midias{
     align-items: center;
     display: flex;
     justify-content: center;
}



/*Break points para dispositivos móveis*/
@media screen and (min-width: 18rem) and (max-width: 53rem) {
     .coverImage{height: 60vh !important}

     .coverImage img{
          width: 100%;
          height: 85%;
     }

     .containerAbility{
          display: block;
          margin: auto;
          width: 99vw !important;
     }
     
     .ability{max-width: 100vw}

     .experiences{
          width: 100vw !important;
     }

     .experience{
        display: flex;
        align-self: center;
        justify-self: center;
        flex-direction: column;
        min-width: 98vw !important;
     }

     .formulario{width: 98vw !important}
}
